@{ ViewBag.Title = "About"; }

<h2>About</h2>
<br />
<h4>
    <strong>ShopTemplate® </strong>marketplace solution<br /><br />
    All rigts reserved<br /><br />
    ASP.NET Core 2.1<br /><br />
    Poland 2018/19
</h4>
